header {
    border: 1px solid #3D3D3D;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2C2C2C;
    color: #F5F5F5;
    overflow: hidden;
    box-shadow: #1f1f1f 4px 4px 0px;
    
    
}

.left-section {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: transparent;
}

.left-section h1 {
    background-color: transparent;
    color: #F5F5F5;
}

.nav-links {
   
    width: 40vw;
    max-width: 600px;
    min-width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    border-radius: 8px;
}

.logo {
    height: 100px;
    border-radius: 50%;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 1.2em;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0;
    max-width: 400px;
    background-color: transparent;
    
}

a {
    text-decoration: none;
    color: #F5F5F5;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid transparent;
    transition: background-color 0.3s, color 0.3s, border 0.3s, transform 0.3s;
     background: linear-gradient(135deg, #F5F5F5 0%, #457997 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-color: transparent;
}

a:hover {
    color: #121212;
  background-color: #ffffff;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(245, 245, 245, 0.3);
}

a.active {
    background-color: #2c2c2c;
    color: #ffffff;
    border: 2px solid #F5F5F5;
    transform: scale(1.02);
     background: linear-gradient(135deg, #F5F5F5 0%, #457997 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-color: transparent;
}

.logo-text {
    font-size: 4rem;
    font-weight: bold;
    color: #F5F5F5;
    background-color: transparent;
    margin-left: 10px;
     background: linear-gradient(135deg, #F5F5F5 0%, #457997 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-color: transparent;
}


